/* 복합 선택자 */

/* 1.일치 선택자(2개의 선택자를 동시에 만족하는 요소 선택) */
/* (태그 선택자)+(클래스 선택자)(전,태,클,아 순서대로)
span.orange {
  color: red;
} */

/* 2.자식 선택자(선택자ul > 자식요소.orange를 선택)
(클래스가 오렌지인 요소를 찾아라 단,ul태그의 자식요소 이어야한다)
ul > .orange {
  color: orange;
} */

/* 3.하위 선택자(선택자div의 하위요소인 클래스 오렌지를 선택)
(2개 사이를 띄어주면 하위(자식포함)선택자로 인식)
div .orange {
  color: green;
} */

/* 4.인접 형제 선택자(클래스 오렌지의 다음 형제요소 선택, ★자주 사용)
.orange + li {
  color: blue;
} */

/* 5.일반 형제 선택자(클래스 오렌지 다음 형제요소 li 모두 선택) */
/* .orange ~ li {
  color: purple;
} */